{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <article class="post">
        {% include "article" with {post: page} %}
    </article>

    {% if site.disqus.shortname and site.disqus.shortname != '' %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
        var disqus_config = function () {
            this.page.url = {% if page.disqus.url %} '{{page.disqus.url}}' {% else %} '{{site.url}}{{page.url}}/' {% endif %};
            this.page.identifier = {% if page.disqus.identifier  %} '{{page.disqus.identifier}}' {% else %} '{{site.url}}{{page.url}}/' {% endif %};
            this.page.title = {% if page.disqus.title %} '{{page.disqus.title}}' {% else %} '{{page.title}}' {% endif %};
            {% if page.disqus.category_id %}this.page.category_id = '{{page.disqus.category_id}}';{% endif %}
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{site.disqus.shortname}}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
{% endblock %}
