{% if not post.no_header %}
  <header class="post-header">
    {% if index %}
      <h1 class="post-title"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="post-title">{{ post.title }}</h1>
    {% endif %}
    <p class="post-meta">
      <time class="post-date" datetime="{{ post.date|date('c') }}" pubdate>
        <span class='month'>{{ post.date|date('M') }}</span> <span class='day'>{{ post.date|date('jS') }}</span> <span class='year'>{{ post.date|date('Y') }}</span>
      </time>
    </p>
  </header>
{% endif %}
{% if index and post.blocks.excerpt %}
  <div class="post-content">{{ post.blocks.exceprt  }}</div>
  <footer>
    <a rel="full-article" href="{{ site.url }}{{ post.url }}">{{ site.excerpt_link }}</a>
  </footer>
{% else %}
  <div class="post-content">{{ post.blocks.content|raw }}</div>
{% endif %}

{% if post.categories or post.tags %}
  <footer class="post-meta">
    <ul class="list-inline">
      {% if site.author %}
        <li class="list-inline-item">
          <span class="byline author vcard">{{ site.author }}</span>
        </li>
      {% endif %}
      <li class="list-inline-item">
        <time datetime="{{ post.date|date('c') }}" pubdate>
          <span class="month">{{ post.date|date('M') }}</span> <span class="day">{{ post.date|date('jS') }}</span>, <span class="year">{{ post.date|date('Y') }}</span>
        </time>
      </li>
      {% if post.categories %}
        <li class="list-inline-item">
          <span class="categories">
          {% for category in post.categories %}
          <a href="{{ site.url }}/blog/categories/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </span>
        </li>
      {% endif %}
      {% if post.tags %}
        <li class="list-inline-item">
          <span class="tags">
          {% for tag in post.tags %}
          <a href="{{ site.url }}/blog/tags/{{ tag|url_encode(true) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
          </span>
        </li>
      {% endif %}
    </ul>
  </footer>
{% endif %}
