<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <ul>
                <li><a href="/blog/archives">Archives</a></li>
                <li><a href="/blog/categories">Categories</a></li>
                <li><a href="/atom.xml">Subscribe via RSS</a></li>
            </ul>
            <p>
                Copyright &copy; {{ "now"|date("Y") }} -
                {% if site.author %} {{ site.author }} - {% endif %}
                All rights reserved.
            </p>
        </div>
    </div>
</div>
