<head lang="en">
    <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head_meta %}
        <meta name="robots" content="noindex, follow">
    {% endblock %}
    <link rel="stylesheet" href="{{ site.url }}{{ webpack_manifest['build/app.css']}}" />

    <link rel="apple-touch-startup-image" href="{{ site.url }}{{ webpack_manifest['build/jackson/2048x2048.png']}}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="76x76" href="{{ site.url }}{{ webpack_manifest['build/jackson/76x76.png']}}">
    <link rel="shortcut icon" sizes="120x120" href="{{ site.url }}{{ webpack_manifest['build/jackson/120x120.png']}}">
    <link rel="shortcut icon" sizes="128x128" href="{{ site.url }}{{ webpack_manifest['build/jackson/128x128.png']}}">
    <link rel="shortcut icon" sizes="152x152" href="{{ site.url }}{{ webpack_manifest['build/jackson/152x152.png']}}">
    <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}{{ webpack_manifest['build/jackson/196x196.png']}}">
    <link rel="shortcut icon" sizes="512x512" href="{{ site.url }}{{ webpack_manifest['build/jackson/512x512.png']}}">
    <link rel="shortcut icon" sizes="1024x1024" href="{{ site.url }}{{ webpack_manifest['build/jackson/1024x1024.png']}}">
    <link rel="shortcut icon" sizes="2048x2048" href="{{ site.url }}{{ webpack_manifest['build/jackson/2048x2048.png']}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}{{ webpack_manifest['build/jackson/76x76.png']}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}{{ webpack_manifest['build/jackson/120x120.png']}}">
    <link rel="apple-touch-icon" sizes="128x128" href="{{ site.url }}{{ webpack_manifest['build/jackson/128x128.png']}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}{{ webpack_manifest['build/jackson/152x152.png']}}">
    <link rel="apple-touch-icon" sizes="196x196" href="{{ site.url }}{{ webpack_manifest['build/jackson/196x196.png']}}">
    <link rel="apple-touch-icon" sizes="512x512" href="{{ site.url }}{{ webpack_manifest['build/jackson/512x512.png']}}">
    <link rel="apple-touch-icon" sizes="1024x1024" href="{{ site.url }}{{ webpack_manifest['build/jackson/1024x1024.png']}}">
    <link rel="apple-touch-icon" sizes="2048x2048" href="{{ site.url }}{{ webpack_manifest['build/jackson/2048x2048.png']}}">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml" title="{{ site.title }} activity feed" />
    {% block head_styles %}
    {% endblock %}
    {% block head_scripts %}
    {% endblock %}
</head>
