<div class="card bg-light">
    <div class="card-header">{{ site.title }}</div>
    <div class="card-body">
        {% if site.subtitle %}<small>{{ site.subtitle }}</small>{% endif %}
    </div>
</div>
<div class="card bg-light sidebar-nav">
    <div class="card-header">Links</div>
    <div class="card-body">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="http://sculpin.io">sculpin.io</a></li>
            <li class="nav-item"><a class="nav-link" href="http://twitter.com/getsculpin">@getsculpin</a></li>
        </ul>
    </div>
</div>