html {
    font-size: 11px;
}

.container {
    max-width: 100%;
}

.skill-name {
    width: 10%;
}

.skill-keywords {
    width: 90%;
}

a {
    text-decoration: none;
    color: var(--bs-dark);
}