body {
    font-family: 'Roboto';
}

#name {
    font-size: 3rem;
}

#name, #label {
    font-family: 'Roboto Slab';
}

.section-header {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.section-header::before {
    content: '';
    flex: 1;
    /* margin-top: auto; */
    margin-right: .5rem;
    height: 2px;
    background-color: var(--bs-dark);
    /* margin-bottom: .45rem; */
}

.section-header::after {
    content: '';
    flex: 1;
    /* margin-top: auto; */
    margin-left: .5rem;
    height: 2px;
    background-color: var(--bs-dark);
    /* margin-bottom: .45rem; */
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

.job-location, .job-dates {
    font-style: italic;
}

.job-position, .job-dates {
    color: var(--bs-gray);
}

.skill-keywords .list-inline li:not(:last-child):after{
    content:'\2022';
    margin-left: 0.5rem;
}